<ion-header>
  <ion-toolbar>
    <ion-title>Mes demandes</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-text>Mes demandes</ion-text>

    
    <ion-content>
        <ion-card>
        <img src="../assets/imgs/Card-loveacademy.png"/>
        <ion-card-header>
          <ion-card-subtitle>Mario</ion-card-subtitle>
          <ion-card-title>25 ans</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          This is content, without any paragraph or header tags,
          within an ion-card-content element.
        </ion-card-content>
      </ion-card>
    
    
    
      <ion-card>
        <img src="../assets/imgs/Card-loveacademy.png"/>
        <ion-card-header>
          <ion-card-subtitle>Mario</ion-card-subtitle>
          <ion-card-title>25 ans</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          This is content, without any paragraph or header tags,
          within an ion-card-content element.
        </ion-card-content>
      </ion-card>
    
     
          <ion-card>
            <img src="../assets/imgs/Card-loveacademy.png"/>
            <ion-card-header>
              <ion-card-subtitle>Mario</ion-card-subtitle>
              <ion-card-title>25 ans</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              This is content, without any paragraph or header tags,
              within an ion-card-content element.
            </ion-card-content>
          </ion-card>
    </ion-content>
