<ion-header>
  <ion-toolbar>
      <img src="../assets/imgs/logo1-1.png"/>
      <img src="../assets/imgs/logo-1.png"/>
  </ion-toolbar>
</ion-header>

  <ion-content class="card-background-page">
      <ion-card>
        <img src="../assets/imgs/Card-loveacademy.png"/>
      </ion-card>
    </ion-content>

    <ion-content padding center text-center>
      <ion-list>
        <ion-item>
          <ion-input placeholder="Email" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Mot de passe" type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button size="full" (click)="login()">Connexion</ion-button> 
      <ion-button size="full" color="light" (click)="goRegister()">Inscription</ion-button>

      </ion-content>


