<ion-header>
    <ion-toolbar>
        <ion-icon name="heart"></ion-icon> 
        <ion-title _ngcontent-c0="" class="title-ios hydrated" style="
        margin-right: 0px;
        padding-right: 150px;
        height: 44px;
        border-right-width: 50px;
        padding-left: 0px;
    ">LoveAcademy</ion-title>
      <ion-title _ngcontent-c0="" class="title-ios hydrated" style="
      margin-left: 90px;
      font-size: 14px;
  ">Login</ion-title>
      <ion-title _ngcontent-c0="" class="title-ios hydrated" style="
    margin-left: 150px;
    font-size: 14px;
">Register</ion-title>
    </ion-toolbar>
  </ion-header>
  
<body>
    <ion-content class="card-background-page">
      
        <ion-card>
          <img src="../assets/imgs/card-sf.png"/>
        </ion-card>

      </ion-content>

</body>


