<ion-header>
  <ion-toolbar>
    <ion-title>Acceuil</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-text>
  <h3 style="font-weight: bold;">Profils suggérés</h3>
</ion-text>

<ion-content>
    <ion-card>
    <img src="../assets/imgs/guy.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>Mario</ion-card-subtitle>
      <ion-card-title>25 ans</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      What else.
    </ion-card-content>
  </ion-card>



  <ion-card>
    <img src="../assets/imgs/girl.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>Maria</ion-card-subtitle>
      <ion-card-title>25 ans</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Hey, it's me.
    </ion-card-content>
  </ion-card>

 
      <ion-card>
        <img src="../assets/imgs/dog.jpg"/>
        <ion-card-header>
          <ion-card-subtitle>Snoopy Doggy Dog</ion-card-subtitle>
          <ion-card-title>22 ans</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Yolo.
        </ion-card-content>
      </ion-card>
</ion-content>

  
